.main-header{
    background: linear-gradient(to right, #574ae8, #3ea1db);
}

.header-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}

.search-bar{
    display: flex;
    justify-content: center;
}

#search{
    width: 50%;
    height: 40px;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 4px; 
    border: none;
    opacity: 0.2;
    outline-color: #b6b6b6;
    
}
#search::-webkit-input-placeholder{
    padding-left: 40px;
    font-family:'Lexend Deca', sans-serif;
    color: #574ae8;
    font-size: 13px;

}
#search::-moz-input-placeholder{
    padding-left: 40px;
    font-family:'Lexend Deca', sans-serif;
    color: #000;
    font-size: 13px;
}
#search::-ms-input-placeholder{
    padding-left: 40px;
    font-family:'Lexend Deca', sans-serif;
    color: #574ae8;
    font-size: 13px;
}



.icon-search{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 75%;
    top: 95px;
}